html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}

#container {
    width: 40vw;
    margin: 0 auto;

    margin-top: 40px;
}
#container h1 {
    font-size: 3vw;
}
#container h1 small {
    margin-left: 1vw;
    color: #AAA;
    font-weight: 200;
    font-size: 0.7em;
}
#container h1 small#play-again {
    display: none;
    color: #40A2F2;
    text-decoration: underline;
    cursor: pointer;
}

/* Utilities */
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clear {
    clear: both;
}
